.filter {

  &__btns {
    display: flex;
    flex-wrap: wrap;
    @include adaptiv-value(margin-bottom, 30, 15, 1);

    @media screen and (max-width: 575px) {
      flex-direction: column;
    }
  }

  &__btn {

    &:not(:last-child) {
      margin-right: 10px;

      @media screen and (max-width: 767px) {
        margin-right: unset;
        margin-bottom: 15px;
      }
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: unset;
    }
  }

  &__categories {
    &-inner {
      display: flex;
    }
  }

  &__category {
    min-width: 120px;
    max-width: 150px;
    border-radius: 6px;


    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      background-color: var(--deepblue);
      color: var(--primary);
      border: 1px solid var(--deepblue-border);
    }
  }


  &__title {
    font-size: 16px;
    font-weight: 400;
    color: var(--bs-dark);
    padding-left: 22px;
    position: relative;
    @include adaptiv-value(margin-bottom, 15px, 10, 1);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 15px;
      height: 15px;
      background-image: url("../../img/svg/block-icon.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }



  &__item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 0 0 240px;
    border-radius: 10px;
    background-color: var(--lightgreen);

    &-content {
      @include adaptiv-value(padding-top, 30, 15, 1);
      @include adaptiv-value(padding-bottom, 30, 15, 1);
      @include adaptiv-value(padding-right, 20, 10, 1);
      @include adaptiv-value(padding-left, 20, 10, 1);

      height: 100%;
    }

    &-info {
      & p {
        margin-bottom: unset;
        font-weight: 700;
        color: var(--primary);
      }
    }

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__img {
    width: 100%;
    position: relative;
    padding-bottom: 110%;

    & img {
      transition: .3s transform ease;
      border-radius: 10px 10px 0 0;

      &:hover {
        transform: scale(1.1);
      }
    }
  }




}


.hide {
  display: none;
}