.footer {
  margin-top: 90px;
  position: relative;
  @include adaptiv-value(padding-right, 30, 15, 1);
  @include adaptiv-value(padding-left, 30, 15, 1);
  @include adaptiv-value(padding-top, 30, 25, 1);
  @include adaptiv-value(padding-bottom, 30, 25, 1);
  background: linear-gradient(90deg, rgba(41, 104, 100, 1) 40.5vw, rgba(53, 56, 54, 1) 40.5vw);

  @media screen and (max-width: 767px) {
    background: linear-gradient(0deg, rgba(41, 104, 100, 1) 45.5vw, rgba(53, 56, 54, 1) 60.5vw);
  }

  @media screen and (max-width: 576px) {
    background: linear-gradient(0deg, rgba(41, 104, 100, 1) 45.5vw, rgba(53, 56, 54, 1) 95.5vw);
  }

  @media screen and (max-width: 475px) {
    background: linear-gradient(0deg, rgba(41, 104, 100, 1) 45.5vw, rgba(53, 56, 54, 1) 134.5vw);
  }

  &__form {
    z-index: 150;
    position: relative;

    @media screen and (max-width: 767px) {
      margin-bottom: 45px;
    }
  }

  &__lists {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      flex-direction: row;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    // @include adaptiv-value(padding-right, 80, 30, 1);
    // @include adaptiv-value(padding-left, 80, 30, 1);
    // @include adaptiv-value(padding-top, 30, 25, 1);
    // @include adaptiv-value(padding-bottom, 30, 25, 1);
  }

  &__logo {
    margin-bottom: 18px;
    display: inline-block;
  }

  &__rights {
    margin-bottom: 11px;
  }

  &__heading {
    margin-bottom: 30px;
  }

  &__item {
    max-width: 200px;

    & h3 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
      line-height: 140%;
      color: var(--primary);
    }

    & a {
      font-size: 14px;
      font-weight: 400;
      line-height: 100%;
      color: var(--primary);

      &:hover {
        text-decoration: underline;
      }
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media screen and (max-width: 767px) {
        margin-right: 25px;
      }
    }
  }

  &__list {
    & li:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}