.footer {
  padding: 50px;

  &__info {
    outline: 3px solid red;
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: 18px;
    display: inline-block;
  }

  &__rights {
    margin-bottom: 11px;
  }
}