.footer {
  position: relative;
  // @include adaptiv-value(padding-right, 80, 30, 1);
  // @include adaptiv-value(padding-left, 80, 30, 1);
  // @include adaptiv-value(padding-top, 30, 25, 1);
  // @include adaptiv-value(padding-bottom, 30, 25, 1);
  background-color: var(--bs-dark);

  &__form {
    z-index: 150;
    position: relative;
    padding: 30px 0; //тестовое значение

    & p {
      color: var(--primary);
      @include adaptiv-value(margin-bottom, 25, 10, 1)
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 25px;
    }
  }

  &__lists {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {
      flex-direction: row;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    background-color: #296864;
    padding: 30px 80px; //тестовое значение
    // @include adaptiv-value(padding-right, 80, 30, 1);
    // @include adaptiv-value(padding-left, 80, 30, 1);
    // @include adaptiv-value(padding-top, 30, 25, 1);
    // @include adaptiv-value(padding-bottom, 30, 25, 1);
  }

  &__logo {
    margin-bottom: 18px;
    display: inline-block;
  }

  &__rights {
    margin-bottom: 11px;
  }

  &__heading {
    margin-bottom: 30px;
  }

  &__item {
    max-width: 200px;

    & h3 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
      line-height: 140%;
      color: var(--primary);
    }

    & a {
      font-size: 14px;
      font-weight: 400;
      line-height: 100%;
      color: var(--primary);

      &:hover {
        text-decoration: underline;
      }
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media screen and (max-width: 768px) {
        margin-right: 25px;
      }
    }
  }

  &__list {
    & li:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}