.header {
  background-color: black;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 0;

  &__logo {
    display: inline-block;
    width: 150px;
    height: 25px;
    background-color: grey;
    margin-right: 15px;
  }

  &__socials {
    margin-right: 15px;
  }

  &__menu {
    margin-right: 15px;
  }

}

.menu {
  &__list {
    & li {
      margin-bottom: 5px;
    }

    & li:not(:last-child) {
      @include adaptiv-value(margin-right, 25, 0, 1)
    }
  }

  &__link {
    color: #fff;
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;

  &__placeholder {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: seagreen;
    margin-bottom: 5px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
