<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5 order-last order-md-first">
        <div class="footer__info">
          <div class="footer__heading">
            <a href="#" class="footer__logo">
              <img width="110" height="32" src="../img/svg/logo.svg" alt="Logo">
            </a>
            <p class="rights footer__rights">© 2022 Всі права захищені</p>
            <div class="socials">
              <a href="#" class="socials__item px-1">
                <img src="img/svg/viber.svg" alt="Viber">
              </a>
              <a href="#" class="socials__item px-1">
                <img src="img/svg/bxl-telegram.svg" alt="Telegram">
              </a>
              <a href="#" class="socials__item px-1">
                <img src="img/svg/facebook.svg" alt="facebook">
              </a>
            </div>
          </div>
          <div class="footer__lists">
            <div class="footer__item">
              <h3>
                Додаткова інформація
              </h3>
              <ul class="footer__list list-reset">
                <li>
                  <a href="#">
                    Обережно обман!
                  </a>
                </li>
                <li>
                  <a href="#">
                    Обережно обман!
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer__item">
              <h3>
                Зняття старих шпалер
              </h3>
              <ul class="footer__list list-reset">
                <li>
                  <a href="#">
                    Наші послуги
                  </a>
                </li>
                <li>
                  <a href="#">
                    Про нас
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer__item">
              <h3>
                Зняття старих шпалер
              </h3>
              <ul class="footer__list list-reset">
                <li>
                  <a href="#">
                    Наші послуги
                  </a>
                </li>
                <li>
                  <a href="#">
                    Про нас
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 offset-md-1">
        <form action="#" class="form footer__form">
          <p>
            Отримайте безкоштовну консультацію від наших спеціалістів
          </p>
          <label class="form__label">
            <span>Ваше ім’я*</span>
            <input type="text" class="form__input input-reset" placeholder=" Ім'я">
          </label>
          <label class="form__label">
            <span>Ваш телефон*</span>
            <input type="tel" class="form__input input-reset" placeholder="+380 (__) ___ __ __">
          </label>
          <label class="form__label">
            <span>Електрона адреса</span>
            <input type="email" class="form__input input-reset" placeholder=" Email">
          </label>
          <button class="btn form__btn btn-primary align-self-md-start" type="submit">Замовити консультацію</button>
        </form>
      </div>
    </div>
  </div>
</footer>