<footer class="footer" style="background-color: #296864;">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="footer__info">
          <div class="footer__info-heading">
            <a href="#" class="footer__logo">
              <img src="../img/svg/logo.svg" alt="Logo">
            </a>
            <p class="rights footer__rights">© 2022 Всі права захищені</p>
            <div class="socials pb-3">
              <a href="#" class="socials__item px-1">
                <img src="img/svg/viber.svg" alt="" srcset="">
              </a>
              <a href="#" class="socials__item px-1">
                <img src="img/svg/bxl-telegram.svg" alt="" srcset="">
              </a>
              <a href="#" class="socials__item px-1">
                <img src="img/svg/facebook.svg" alt="" srcset="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <form action="#" class="form footer__form">
          <label class="form__label">
            <span>Ваше ім’я*</span>
            <input type="text" class="form__input input-reset" placeholder=" Ім'я">
          </label>
          <label class="form__label">
            <span>Ваш телефон*</span>
            <input type="tel" class="form__input input-reset" placeholder="+380 (__) ___ __ __">
          </label>
          <label class="form__label">
            <span>Електрона адреса</span>
            <input type="email" class="form__input input-reset" placeholder=" Email">
          </label>
          <button class="btn form__btn btn-primary align-self-md-start">Замовити консультацію</button>
        </form>
      </div>
    </div>
  </div>
</footer>