<header class="header">
  <div class="container">
    <div class="row navbar">
      <div class="col-2">
        <div class="header__logo"></div>
      </div>
      <div class="col-xl-5 col-md-12">
        <nav class="menu header__menu">
          <ul class="menu__list header__list list-reset d-flex flex-wrap">
            <li>
              <a href="#" class="menu__link">Наші послуги</a>
            </li>
            <li>
              <a href="#" class="menu__link">Наші послуги</a>
            </li>
            <li>
              <a href="#" class="menu__link">Наші послуги</a>
            </li>

            <li>
              <a href="#" class="menu__link">Наші послуги</a>
            </li>
            <li>
              <a href="#" class="menu__link">Наші послуги</a>
            </li>

            <li>
              <a href="#" class="menu__link">Який ремонт потрібен?</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-xl-2 col-md-5">
        <div class="socials header__socials">
          <div class="socials__placeholder"></div>
          <div class="socials__placeholder"></div>
          <div class="socials__placeholder"></div>
          <div class="socials__placeholder"></div>
          <div class="socials__placeholder"></div>
          <div class="socials__placeholder"></div>
          <div class="socials__placeholder"></div>
          <div class="socials__placeholder"></div>
        </div>
      </div>
      <div class="col-xl-3 col-md-5">
        <a href="#" class="btn btn-primary">Замовити дзвiнок</a>
      </div>
    </div>
  </div>
</header>
