.form {
  display: flex;
  flex-direction: column;

  & span {
    font-weight: 600;
    color: #F5FBF6;
    @include adaptiv-value(margin-bottom, 15, 10, 1);
    @include adaptiv-value(font-size, 16, 14, 1);
  }

  & input {
    border-radius: 15px;
    padding: 13px 17px;

    &::placeholder {
      color: #BEBEBE;
    }
  }

  & p {
    color: var(--primary);
    @include adaptiv-value(margin-bottom, 25, 10, 1);
  }

  &__label {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include adaptiv-value(margin-bottom, 25, 20, 1);
  }
}