// info section

.images-list {
  &__item {
    height: 180px;
    margin-bottom: 30px;
  }
}

//section with list
.list-section {
  padding-bottom: 15px;
}

.list-section__list {
  list-style: none;
  counter-reset: list;
}

.list-section__item {
  height: 100%;
  padding: 30px 35px;
  border-radius: 10px;
  background: #F5FBF6;
}

.list-section__title {
  &::before {
    counter-increment: list;
    content: counter(list) ".";
    color: var(--accent);
  }
}

//works section


.works-section {
  padding-left: calc((100% - 540px) / 2);

  &__header {
    padding: 0 15px;
  }

  &__body {
    position: relative;
    display: flex;
    overflow: auto;
    margin: 0 15px;
  }

  &__item {
    flex: 0 0 420px;

    @media screen and (max-width: 767px) {
      flex: 0 0 75vw;
    }
  }

  &__item:not(:last-child) {
    margin-right: 30px;

    @media screen and (max-width: 767px) {
      margin-right: 15px;
    }
  }

  @media (min-width: 767px) {
    padding-left: calc((100% - 720px) / 2);
  }

  @media (min-width: 991px) {
    padding-left: calc((100% - 960px) / 2);
  }

  @media (min-width: 1199px) {
    padding-left: calc((100% - 1140px) / 2);
  }

  @media (min-width: 1399px) {
    padding-left: calc((100% - 1320px) / 2);
  }
}

.item-works {
  padding: 105px 30px 30px 30px;
  background: #F5FBF6;
  border-radius: 10px;
  height: 100%;
  max-width: 420px;
  background-size: 50px;
  background-position: 30px 30px;
  background-repeat: no-repeat;


  &__title {
    margin-bottom: 20px;
  }

  // modificators

  &_master {
    background-image: url('../img/svg/icon-works-6.svg');
  }

  &_bud {
    background-image: url('../img/svg/icon-works-5.svg');
  }

  &_paint {
    background-image: url('../img/svg/icon-works-4.svg');
  }

  &_tiles {
    background-image: url('../img/svg/icon-works-3.svg');
  }

  &_santech {
    background-image: url('../img/svg/icon-works-2.svg');
  }

  &_energy {
    background-image: url('../img/svg/icon-works-1.svg');
  }
}

//Section list image

.list-image-section {
  &__img {
    height: 415px;
    border-radius: 35px 0 35px 0;

    @media screen and (max-width: 767px) {
      height: 270px;
    }
  }
}

// tet section
.text-section {
  strong {
    color: var(--bs-dark);
  }
}


.modal .hystmodal__window {
  width: 500px;
  border-radius: 35px 0 35px 0px;
}

.modal .hystmodal__close {
  right: 15px;
  top: 15px;
  background-image: url("../img/svg/close-btn.svg");
  width: 15px;
  height: 15px;
  transition: .5s all ease;

  &:hover {
    transform: scale(1.1);
  }
}


.form-modal {
  display: flex;
  flex-direction: column;
  padding: 55px 40px;
  @include adaptiv-value(padding-top, 55, 30, 1);
  @include adaptiv-value(padding-bottom, 55, 30, 1);
  @include adaptiv-value(padding-right, 40, 25, 1);
  @include adaptiv-value(padding-left, 40, 25, 1);
  background-color: var(--dark-accent);
  max-width: 510px;
  border-radius: 35px 0 35px 0px;

  & .hystmodal__window {
    width: 510px;
    border-radius: 35px 0 35px 0;
  }

  & .hystmodal__close {
    background-image: url("../img/svg/close-btn.svg");
  }
}

.pagination-btn {
  font-size: 20px;

  &:hover {
    border: 1px solid var(--lightgreen);
    color: var(--lightgreen);
  }

  &:not(:last-child) {
    margin-right: 5px;

    @media screen and (max-width: 575px) {
      margin-bottom: 14px;
      margin-right: 10px;
    }
  }

  &:disabled {
    background-color: #919EAB;
    pointer-events: none;

    &:hover {
      border: 1px solid transparent;
    }
  }
}

.pagination-active {
  border: 1px solid var(--lightgreen);
  color: var(--lightgreen);
}

.btn-secondary {
  min-width: 165px;
  max-width: 200px;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #838383;
  border: 2px solid #BFBFBF;

  &.active {
    background-color: var(--deepblue);
    color: var(--primary);
    border: 2px solid var(--deepblue-border);
  }

  &:hover {
    background-color: var(--deepblue);
    color: var(--primary);
    border: 2px solid var(--deepblue-border);
  }

  @media screen and (max-width: 991px) {
    width: 100%;
    max-width: unset;
  }
}

.next-btn {
  background-color: var(--lightgreen);
  border: 1px solid transparent;
  background-image: url("../img/svg/next.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.prev-btn {
  border: 1px solid transparent;
  background-image: url("../img/svg/prev.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.info-title {
  font-size: 34px;
  line-height: 120%;
  margin-bottom: 10px;
}


.price-note {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightgreen);
  border-radius: 5px;
  padding: 6px 10px;
  color: var(--primary);
  font-weight: 700;
  max-width: 200px;
}

.info__img {
  height: 190px;
}

.info__main {
  @include adaptiv-value(margin-bottom, 90, 35, 1);
}

.prices {
  @include adaptiv-value(padding-top, 50, 25, 1);
  @include adaptiv-value(padding-bottom, 50, 25, 1);
  background-color: #F5FBF6;
}