.result {
  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--white);
    @include adaptiv-value(padding-top, 35, 25, 1);
    @include adaptiv-value(padding-bottom, 35, 25, 1);
    @include adaptiv-value(padding-right, 35, 25, 1);
    @include adaptiv-value(padding-left, 35, 25, 1);
    border-radius: 35px 0;
    height: 100%;
  }

  &__info {
    margin-bottom: 20px;
  }

  &__btn {
    margin-top: auto;
    align-self: flex-start;

    @media screen and (max-width: 991px) {
      max-width: unset;
      min-width: 100%;
    }
  }

  & h3 {
    color: var(--bs-dark);
    font-size: 24px;
    font-weight: 700;
    max-width: 500px;
    align-self: flex-start;
    margin-bottom: 20px;
  }

  & p {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  & strong {
    color: var(--bs-dark);
    font-weight: 500;
  }
}

.inner {
  display: flex;
}

.result__column {
  display: flex;
}