*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  font-family: "Muller", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #757575;
  background: #E7F4f0;
  overflow-x: hidden;

  p:not(:last-child),
  ul:not(:last-child) {
    line-height: 1.4;
    margin-bottom: 30px;
  }

  p.nogap {
    margin-bottom: 0;
  }
}

.rounded-edges {
  border-radius: 35px 0 35px 0;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

section+section,
section:first-child {
  margin-top: 90px;

  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }
}

// .site-container {
//   overflow: hidden;
// }

// .container {
//   max-width: 1050px;
// max-width: 1050px;
// }

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.accent {
  color: var(--accent);
}

.section-title {
  font-size: 26px;
  line-height: 120%;
  color: var(--bs-dark);
  margin-bottom: 1.5em;
  font-weight: 700;

  span {
    display: block;
  }

  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}

.title-secondary {
  font-weight: 700;
  font-size: 20px;
  color: var(--bs-dark);
  margin-bottom: 1.5em;
}

.note {
  line-height: 1.4;
  color: var(--bs-dark);
}

// btns
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  min-width: 240px;
  max-width: 280px;
}


.btn-primary {
  background-color: #91C7BE;
  border-color: #91C7BE;
  transition: 0.3s;
  padding: 10px;

  &:hover {
    background-color: #91C7BE;
    border-color: #91C7BE;
    opacity: 0.9;
  }
}

.btn-outline-secondary {
  color: #838383;
  border: 2px solid #BFBFBF;
}

// btns
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}


.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}


.ibg {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.note {
  padding: 20px 25px;
  background: var(--lightgreen);
  color: #fff;
  border-radius: 9px;
}


.rights {
  font-size: 12px;
  font-weight: 400;
  opacity: 50%;
  color: var(--white);
}

.hide {
  display: none;
}


.list-with-bull {
  list-style: none;
  padding-left: 0;
  margin-left: 0;

  li {
    position: relative;
    padding-left: 30px;

    &::before {
      content: "•";
      position: absolute;
      left: 0;
      top: 0;
      font-size: 55px;
      line-height: 0.55;
      color: var(--bs-blue);
    }
  }
}

.sometestbtn {
  width: 35px;
  height: 35px;
  border-radius: 7px;
  background: #fff;
  color: #757575;
  border: 1px solid #757575;

  &.is-active {
    transform: none;
    color: var(--lightgreen);
    border: 1px solid var(--lightgreen);
  }
}

.socials__item {
  & img {
    transition: .3s all ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.breadcrumb-active {
  color: var(--lightgreen);
}

.breadcrumb a {
  &:hover {
    color: var(--lightgreen);
  }
}

.breadcrumb__list {
  @include adaptiv-value(margin-bottom, 70, 35, 1)
}