// базовые подключения
@import "vendor";
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
@import "form";


// подключения компонентов страницы
@import "./components/header";
@import "./components/darked";


.filter__btns {
  margin-bottom: 50px;
}

.filter__content {
  display: flex;
}

.filter__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 1px solid red;
}

.hide {
  display: none;
}